body {
	background-color:powderblue;}

h1 {
	color: purple;
	font: Verdana;}

p {
	color: purple;
	font-style: oblique;
	text-indent: 50px;
	font: cursive;}

header {
	background-color:#ccccff;
	margin: 10px;
	height: 90px;
	border-radius: 5px;
	font-size: 45px;}

nav {
	background-color:#ccccff;
	margin: 10px;
	height: 35px;
	border-radius: 5px;}

main { 
	background-color: #ccccff;
	margin: 10px;
	border-radius: 5px;
	padding: 20px;
	font-size: 110%;}

aside {
	background-color: #ccccff;
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	font-size: 100%;
	float: right;
	width: 200px;}