header {
	background-color: powderblue;
	margin: 10px;
	height: 90px;
	border-radius: 5px;
	font-size: 35px;}

nav {
	background-color: powderblue;
	margin: 10px;
	height: auto;
	border-radius: 5px;}

body {
	background-color: lightpink;}

h1 {
	font-size: 35px;
	color: #000099;}

p {
	font-size: 20px;
	color: #000099;
	text-indent: 50px;}
